<header class="py-4">
  <div class="container text-center">
    <!-- ↓あとで[img class="mw-100"とrootリンク入れる -->
    <h1><%= link_to 'sekara　断捨離', root_path, class: "text-dark text-decoration-none" %></h1>
  </div>
</header>

<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient sticku-top">
  
</nav>