<header class="py-4">
  <div class="container text-center">
    <h1 class="mw-100">
      <%= image_tag 'clean_01.png' , size: '50x50'%>
      <%= link_to 'sekara　断捨離', root_path, class: "text-dark text-decoration-none" %>
      <%= image_tag 'clean_02.png' , size: '50x50' %>
    </h1>
  </div>
</header>

<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient sticku-top">
  
</nav>